In [1]:
import pandas as pd
import numpy as np
import re

In [105]:
df = pd.read_csv('./Reports_CSV/report_all_rows.csv')
df.head(5)

,bdu,risk,desc,filelist_prods,file_list_desc,date_time,file_idx
0,BDU:2021-02717,Критический,Уязвимость удаленного выполнения кода в Micros...,cpe:/a:microsoft:office:2013,C:\Program Files (x86)\Common Files\Microsoft ...,01.03.2022 17:32:04,0
1,BDU:2020-04157,Критический,Уязвимость удаленного выполнения кода в Micros...,cpe:/a:microsoft:excel:2013,C:\Program Files\Microsoft Office 15\root\Offi...,01.03.2022 17:32:04,0
2,BDU:2020-04079,Критический,Уязвимость удаленного выполнения кода в Micros...,cpe:/a:microsoft:office:2010cpe:/a:microsoft:o...,C:\Program Files (x86)\Common Files\Microsoft ...,01.03.2022 17:32:04,0
3,BDU:2020-04480,Критический,Уязвимость удаленного выполнения кода в Visual...,cpe:/a:microsoft:visual_studio:2013,C:\Program Files (x86)\Microsoft Visual Studio...,01.03.2022 17:32:04,0
4,BDU:2021-03067,Критический,Уязвимость удаленного выполнения кода в Micros...,cpe:/a:microsoft:excel:2013,C:\Program Files\Microsoft Office 15\root\Offi...,01.03.2022 17:32:04,0

In [106]:
df['date_time'] = pd.to_datetime(df['date_time'], format="%d.%m.%Y %H:%M:%S", errors="coerce").fillna(pd.to_datetime(df['date_time'], format="%m/%d/%Y %I:%M:%S %p", errors="coerce")).fillna(pd.to_datetime(df['date_time'], format="%d/%m/%Y %H:%M:%S", errors="coerce")).fillna(pd.to_datetime(df['date_time'].str.replace(r'[а-яА-Я]', '').str.strip(), format="%d.%m.%y %H:%M:%S", errors="coerce"))

In [320]:
df['filelist_prods'].value_counts().head(30)

cpe:/o:microsoft:windows_10:1909::x64                      2889
cpe:/a:oracle:jre:1.8.0                                    2283
cpe:/a:adobe:flash_player                                  2245
cpe:/o:microsoft:windows_7:::x64                           1818
cpe:/a:microsoft:excel:2016                                1733
cpe:/o:microsoft:windows_10:2004::x64                      1532
cpe:/a:microsoft:word:2016                                 1103
cpe:/a:microsoft:office:2016                                996
cpe:/o:microsoft:windows_10:20h2::x64                       984
cpe:/o:microsoft:windows_10:1803::x64                       885
cpe:/a:microsoft:excel:2010                                 781
cpe:/a:microsoft:ie:11                                      673
cpe:/a:microsoft:word:2010                                  586
cpe:/a:adobe:photoshop                                      579
cpe:/a:microsoft:office:2010                                560
cpe:/o:microsoft:windows_10:21h1::x64                       543
cpe:/a:adobe:acrobat_reader_dc:::continuous                 540
cpe:/a:microsoft:visual_studio:2019                         494
cpe:/a:microsoft:office:2019                                451
cpe:/a:microsoft:outlook:2016                               397
cpe:/a:adobe:after_effects                                  338
cpe:/o:microsoft:windows_10:1809::x64                       337
cpe:/a:adobe:acrobat_dc:::continuous                        321
cpe:/a:adobe:acrobat_reader:11                              297
cpe:/a:adobe:adobe_air                                      287
cpe:/a:microsoft:office:2010cpe:/a:microsoft:excel:2010     272
cpe:/a:microsoft:excel:2013                                 268
cpe:/a:oracle:vm_virtualbox:6.1                             261
cpe:/a:microsoft:office:2007                                242
cpe:/a:oracle:jre:1.6.0                                     192
Name: filelist_prods, dtype: int64

In [404]:
df['file_list_desc'].str.split('\\').str[1].value_counts()

Program Files                                     8837
Program Files (x86)                               8535
Windows                                           8256
SOFTWARE                                          4675
WINDOWS                                           1800
Software                                          1276
Офис                                               176
office                                             165
Office16                                           126
Users                                              105
ProgramData                                         98
windows                                             96
VB                                                  52
Soft                                                24
Адобы                                               24
PhotoShop                                           22
program gamez                                       22
photoshop1337                                       22
progs                                               20
Adobe                                               18
Programs                                            17
S-1-5-21-2504144549-3686669765-3751651015-1001      13
S-1-5-21-626777237-1792276417-1649288482-1001       13
S-1-5-21-894998371-1870482755-6742487-1000          12
Job                                                 12
S-1-5-21-2873673825-2470840662-829168779-1001        9
ms project                                           8
python                                               6
S-1-5-21-539342540-2317591180-92264303-1001          6
S-1-5-21-2128616283-2159331528-1268361551-1001       6
S-1-5-21-229624372-594744965-2939406303-1001         3
Ps                                                   3
S-1-5-21-4101514679-3460681012-3470363259-1001       3
S-1-5-21-477062765-277767994-5136752-1001            2
SQL                                                  2
S-1-5-21-3148362796-4119903440-232245668-1002        1
Python34                                             1
Game                                                 1
SQLServer                                            1
Programing                                           1
S-1-5-21-4011212284-302058866-3589844934-1001        1
Name: file_list_desc, dtype: int64

In [408]:
df['file_list_desc'].str.split('\\').head(30)

0     [C:, Program Files (x86), Common Files, Micros...
1     [C:, Program Files, Microsoft Office 15, root,...
2     [C:, Program Files (x86), Common Files, Micros...
3     [C:, Program Files (x86), Microsoft Visual Stu...
4     [C:, Program Files, Microsoft Office 15, root,...
5     [C:, Program Files (x86), Microsoft Visual Stu...
6     [C:, Program Files (x86), Microsoft Visual Stu...
7     [C:, Program Files, Microsoft Office 15, root,...
8     [C:, Program Files, Microsoft Office 15, root,...
9     [C:, Program Files, Microsoft Office 15, root,...
10    [C:, Program Files, Microsoft Office 15, root,...
11    [var_ref=oval:ru.altx-soft.win:var:2752, value...
12    [HKEY_LOCAL_MACHINE, Software, Microsoft, Wind...
13    [C:, Program Files (x86), Common Files, Micros...
14    [C:, Program Files, Microsoft Office 15, root,...
15    [C:, Program Files (x86), Microsoft Office, Of...
16    [C:, Program Files, Microsoft Office 15, root,...
17    [C:, Program Files (x86), Microsoft Office, Of...
18    [C:, Program Files, Microsoft Office 15, root,...
19    [C:, Program Files, Microsoft Office 15, root,...
20    [C:, Program Files, Microsoft Office 15, root,...
21    [var_ref=oval:ru.altx-soft.win:var:2752, value...
22    [C:, Program Files, Microsoft Office 15, root,...
23    [C:, Program Files, Microsoft Office 15, root,...
24    [C:, Program Files, Microsoft Office 15, root,...
25    [C:, Program Files, Microsoft Office 15, root,...
26    [C:, Program Files (x86), Common Files, Micros...
27    [C:, Program Files (x86), Common Files, Micros...
28    [C:, Program Files, Microsoft Office 15, root,...
29    [C:, Program Files, Microsoft Office 15, root,...
Name: file_list_desc, dtype: object

In [416]:
df.groupby(['file_idx']).count()['date_time'].mean()

334.9326923076923

In [325]:
df.filelist_prods.str.contains('cpe:/o').sum(), df.filelist_prods.str.contains('cpe:/a').sum()

(9127, 21138)

In [352]:
df['filelist_prods'].str.match(r'cpe:/o')

0        False
1        False
2        False
3        False
4        False
         ...
34828    False
34829    False
34830    False
34831    False
34832    False
Name: filelist_prods, Length: 34833, dtype: object

In [377]:
df['filelist_prods'].str.extract(r'cpe:/a+:(.*)')

                                                       0
0                                  microsoft:office:2013
1                                   microsoft:excel:2013
2      microsoft:office:2010cpe:/a:microsoft:office:2013
3                           microsoft:visual_studio:2013
4                                   microsoft:excel:2013
...                                                  ...
34828                           oracle:vm_virtualbox:6.1
34829                           oracle:vm_virtualbox:6.1
34830                           oracle:vm_virtualbox:6.1
34831                           oracle:vm_virtualbox:6.1
34832                           oracle:vm_virtualbox:6.1

[34833 rows x 1 columns]

In [398]:
df['filelist_prods'].str.extract(r'cpe:/a+:(.*):')[0].str.split(':').str[0].value_counts()

microsoft        11749
adobe             5090
oracle            3541
mysql              187
mozilla            144
zoom                71
node.js             57
intel               43
pypi                37
rarlab              36
apache              32
videolan            30
nvidia              23
kaspersky_lab       20
git_project         18
apple               11
teamviewer          10
python               8
libreoffice          8
vmware               6
Adobe                4
7-zip                4
postgresql           3
mariadb              2
kaspersky            1
qbittorrent          1
openvpn              1
don_ho               1
Name: 0, dtype: int64

In [399]:
df['filelist_prods'].str.extract(r'cpe:/a+:(.*):')[0].str.split(':').str[1].value_counts()

office                        3418
excel                         3004
jre                           2856
word                          2070
ie                             678
outlook                        657
visual_studio                  568
acrobat_reader_dc              540
vm_virtualbox                  412
acrobat_dc                     321
acrobat_reader                 297
jdk                            221
powerpoint                     203
skype_for_business             106
.net_framework                  94
visual_studio_code              73
zoom                            71
mysql                           71
project                         53
asp.net_corecpe                 44
access                          43
sql_server                      36
flash_player                    34
visual_c++                      22
onenote                         20
edgecpe                         20
office_onenote                  20
publisher                       15
infopath                        15
lync                            14
visio                           13
edge                            12
visio_viewer                     9
mysql_client                     9
shockwave_flash_activexcpe       8
acrobat                          7
lightroom                        4
workstationcpe                   3
gitcpe                           2
mysql_workbenchcpe               2
xml_core_services                1
jscript                          1
Name: 0, dtype: int64

In [ ]:
df['filelist_prods'].str.match(r'cpe:/o')

In [350]:
# df['filelist_prods'].str.replace(r'^(?!.*cpe).*$', ' ', regex=True)

0                             cpe:/a:microsoft:office:2013
1                              cpe:/a:microsoft:excel:2013
2        cpe:/a:microsoft:office:2010cpe:/a:microsoft:o...
3                      cpe:/a:microsoft:visual_studio:2013
4                              cpe:/a:microsoft:excel:2013
                               ...
34828                      cpe:/a:oracle:vm_virtualbox:6.1
34829                      cpe:/a:oracle:vm_virtualbox:6.1
34830                      cpe:/a:oracle:vm_virtualbox:6.1
34831                      cpe:/a:oracle:vm_virtualbox:6.1
34832                      cpe:/a:oracle:vm_virtualbox:6.1
Name: filelist_prods, Length: 34833, dtype: object

In [ ]:
df['filelist_prods'].value_counts().head(30)

In [312]:
df.drop_duplicates(subset='bdu', keep="last")['risk'].value_counts()

Высокий        1978
Средний        1825
Критический     958
Низкий          136
Name: risk, dtype: int64

In [313]:
df['risk'].value_counts()

Высокий        14825
Средний        13167
Критический     5423
Низкий          1418
Name: risk, dtype: int64

In [279]:
df['bdu'].value_counts().head(10)

BDU:2021-04570    132
BDU:2021-00872    131
BDU:2021-01844    118
BDU:2021-04571    101
BDU:2021-03140     91
BDU:2021-03742     90
BDU:2021-03744     90
BDU:2020-00300     88
BDU:2021-01845     86
BDU:2019-03123     86
Name: bdu, dtype: int64

In [306]:
df.groupby('file_idx').first().reset_index().groupby([df.groupby('file_idx').first().reset_index().date_time.dt.month, df.groupby('file_idx').first().reset_index().date_time.dt.day]).count()['file_idx']

date_time  date_time
2          8             1
           15            3
           16            8
           17            1
           18           18
           19           10
           20            6
           21            3
           22            4
           23            8
           24           11
           25            1
           26            6
           27            3
           28            5
3          1             3
           2             3
           3             1
           4             2
           5             2
           6             1
           8             1
           16            1
4          6             1
5          13            1
Name: file_idx, dtype: int64

In [292]:
df.groupby(df['date_time'].dt.day)['file_idx']

date_time
1       0
2       3
3      71
4      32
5      33
6      29
8      16
13     42
15      4
16     10
17    103
18      2
19      9
20      1
21      6
22     26
23     17
24      8
25     49
26     58
27     31
28      7
Name: file_idx, dtype: int64

In [244]:
cooc_list_dicts = []
top_n_bdus = 100

for i, v in df['bdu'].value_counts().head(top_n_bdus).iteritems():
    file_idxs = df[df['bdu'] == i]['file_idx'].unique()
    cooc_dict = {}
    
    for i in file_idxs:
        for bdu in df[df.file_idx == i]['bdu'].unique():
            if cooc_dict.get(bdu):
                cooc_dict[bdu] +=1
            else:
                cooc_dict[bdu] =1
    
    cooc_list_dicts.append(cooc_dict)

In [ ]:
for list_i, item in enumerate(cooc_list_dicts):
    bdu = df['bdu'].value_counts().head(100).index[list_i]
    print(bdu)
    count = 0
    for i, w in enumerate(sorted(item, key=item.get, reverse=True)):
        if bdu == w:
            continue
        print(w, item[w])
        count += 1
        if count == 10:
            break
    if list_i == 30:
        break

In [169]:
pd.DataFrame({'v': ['a','b', 'a', 'b', 'a', 'b'], 'idx': [0,0,0, 1, 1, 1]})
# a: b = 3, c = ...
# ...
#b: a = 3, c = ...

   v  idx
0  a    0
1  b    0
2  a    0
3  b    1
4  a    1
5  b    1